.dashboard {
  width: 100%;
  height: 100vh;

  position: relative;

  background-color: #151a38;

  color: white;

  &__button {
    background: none;
    border: solid 1px white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: capitalize;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &__header {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 15px;
    position: absolute;

    top: 0;
    left: 0;
  }

  &__content {
    padding-top: 150px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
